* {
    box-sizing: border-box;
    text-align: center;
}


body {
    margin: 0 auto;
    background-color: #777;
    color: #ebebeb;
    line-height: 32px;
    font-size: 18px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    text-align: center;
    width: 960px;
}

header {
    padding: 20px;
    margin-bottom: 20px;
    color: #333;
    background: #ebebeb;
}

nav {
    padding: 20px;
    margin-bottom: 20px;
    color: #333;
    background: #ebebeb;
}

section {
    padding: 10px;
    margin-bottom: 20px;
    margin-right: 20px;
    color: #333;
    background: #ebebeb;
}

#section {
    float: left;
    width: 495px;
    height: 340px;
}

article {
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 5px;
    color: #ebebeb;
    background: #777;
}



#hhh {
    padding: 20px;
    margin-bottom: 20px;
    color: #333;
    background: #ebebeb;
}

#buck {
    padding: 20px;
    margin-bottom: 0px;
    color: #333;
    background: #ebebeb;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}



#aside {
    padding: 40px;
    float: right;
    width: 425px;
    height: 340px;
    color: #333;
    background: #ebebeb;
}

footer {
    padding: 20px;
    margin-bottom: 20px;
    color: #333;
    background: #ebebeb;
}
